body {
    background-color: rgb(153, 111, 139);
}
header img {
    width: 10;
    line-height: 10%;
}
header nav {
    float: right;
}


header nav ul li { float: right;
    padding: 20px;

}
main p1 {
    color:rgb(48, 156, 156);
    line-height: 1.5;
    background-color: rgb(207, 168, 128);
}
main p2 {
    color:rgb(127, 184, 127);
    line-height: 1.5;
    background-color: rgb(201, 83, 191);
}
main p4 {
    color:rgb(7, 128, 77);
    line-height: 1.5;
    background-color: rgb(199, 167, 136);
}
main p3 {
    color:rgb(3, 90, 3);
    line-height: 1.5;
    background-color: rgb(212, 155, 138);
}
footer {
    text-align: left;
    background: rgb(109, 33, 65);
    color: #fff;
    line-height: 50px
  } 